body {
    margin: 0;
    overflow: hidden;
    background: black;
    color: white;
}

.universe {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orbit {
    position: absolute;
    border: 2px dotted white;
    border-radius: 50%;
    animation: rotate linear infinite;
}

.orbit1 {
    width: 200px;
    height: 200px;
    animation-duration: 10s;
}

.orbit2 {
    width: 400px;
    height: 400px;
    animation-duration: 20s;
}

.orbit3 {
    width: 600px;
    height: 600px;
    animation-duration: 30s;
}

.logo-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
